include block_html/_style.pug
include block_html/_include.pug

.main-cont
	.container
		.b-sort
			.b-filter-head
				.b-filter-head__el.filter-head__el--active Курсы ITIL
				.b-filter-head__el Бизнес-анализ
				.b-filter-head__el Искусственный интеллект
				.b-filter-head__el Цифровая экономика
				.b-filter-head__el Agile и Гибкое управление
				.b-filter-head__el Управление проектами
				.b-filter-head__el Управление рисками
				.b-filter-head__el Экзамены
			.b-tab-info
				.b-wrap.b-wrap--active
					-
						var one = [
							'ITILF','OSA','RCV','PPO','SOA','MALC','ITSS','ITLP'
							];
					each ones in one
						.b-el
							.b-el-price-val 24500
								span р
							.b-el-name
								.b-el-title__top курс
								.b-el-title #{ones}
							.b-el-cont
								.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
								.b-el-bottom
									.b-el-attr
										.b-el-attr__icon
											+icon("heart","icon")
										.b-el-attr__val 2303
									.b-el-attr
										.b-el-attr__icon
											+icon("like","icon")
										.b-el-attr__val 1303
									.b-el-attr
										.b-el-attr__icon
											+icon("star","icon")
										.b-el-attr__val 233
				.b-wrap
					.b-el
						.b-el-price-val 24500
							span р
						.b-el-name
							.b-el-title__top курс
							.b-el-title BAF
						.b-el-cont
							.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
							.b-el-bottom
								.b-el-attr
									.b-el-attr__icon
										+icon("heart","icon")
									.b-el-attr__val 2303
								.b-el-attr
									.b-el-attr__icon
										+icon("like","icon")
									.b-el-attr__val 1303
								.b-el-attr
									.b-el-attr__icon
										+icon("star","icon")
									.b-el-attr__val 233
					.b-el
						.b-el--disable
							.disable--text в разработке

						.b-el-price-val 24500
							span р
						.b-el-name
							.b-el-title__top курс
							.b-el-title BAF
						.b-el-cont
							.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
							.b-el-bottom
								.b-el-attr
									.b-el-attr__icon
										+icon("heart","icon")
									.b-el-attr__val 2303
								.b-el-attr
									.b-el-attr__icon
										+icon("like","icon")
									.b-el-attr__val 1303
								.b-el-attr
									.b-el-attr__icon
										+icon("star","icon")
									.b-el-attr__val 233
					.b-el
						.b-el--disable
							.disable--text в разработке

						.b-el-price-val 24500
							span р
						.b-el-name
							.b-el-title__top курс
							.b-el-title BAF
						.b-el-cont
							.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
							.b-el-bottom
								.b-el-attr
									.b-el-attr__icon
										+icon("heart","icon")
									.b-el-attr__val 2303
								.b-el-attr
									.b-el-attr__icon
										+icon("like","icon")
									.b-el-attr__val 1303
								.b-el-attr
									.b-el-attr__icon
										+icon("star","icon")
									.b-el-attr__val 233

				.b-wrap
					-
						var one = [
						'MLP','DMPL'
						];
					each ones in one
						.b-el
							.b-el-price-val 24500
								span р
							.b-el-name
								.b-el-title__top курс
								.b-el-title #{ones}
							.b-el-cont
								.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
								.b-el-bottom
									.b-el-attr
										.b-el-attr__icon
											+icon("heart","icon")
										.b-el-attr__val 2303
									.b-el-attr
										.b-el-attr__icon
											+icon("like","icon")
										.b-el-attr__val 1303
									.b-el-attr
										.b-el-attr__icon
											+icon("star","icon")
										.b-el-attr__val 233
					.b-el
						.b-el--disable
							.disable--text в разработке

						.b-el-price-val 24500
							span р
						.b-el-name
							.b-el-title__top курс
							.b-el-title BAF
						.b-el-cont
							.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
							.b-el-bottom
								.b-el-attr
									.b-el-attr__icon
										+icon("heart","icon")
									.b-el-attr__val 2303
								.b-el-attr
									.b-el-attr__icon
										+icon("like","icon")
									.b-el-attr__val 1303
								.b-el-attr
									.b-el-attr__icon
										+icon("star","icon")
									.b-el-attr__val 233

				.b-wrap
					-
						var one = [
						'MSA','MLP','DMPL'
						];
					each ones in one
						.b-el
							.b-el-price-val 24500
								span р
							.b-el-name
								.b-el-title__top курс
								.b-el-title #{ones}
							.b-el-cont
								.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
								.b-el-bottom
									.b-el-attr
										.b-el-attr__icon
											+icon("heart","icon")
										.b-el-attr__val 2303
									.b-el-attr
										.b-el-attr__icon
											+icon("like","icon")
										.b-el-attr__val 1303
									.b-el-attr
										.b-el-attr__icon
											+icon("star","icon")
										.b-el-attr__val 233
				.b-wrap
					-
						var one = [
						'AGILE','DEVOPS','MSA'
						];
					each ones in one
						.b-el
							.b-el-price-val 24500
								span р
							.b-el-name
								.b-el-title__top курс
								.b-el-title #{ones}
							.b-el-cont
								.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
								.b-el-bottom
									.b-el-attr
										.b-el-attr__icon
											+icon("heart","icon")
										.b-el-attr__val 2303
									.b-el-attr
										.b-el-attr__icon
											+icon("like","icon")
										.b-el-attr__val 1303
									.b-el-attr
										.b-el-attr__icon
											+icon("star","icon")
										.b-el-attr__val 233
				.b-wrap
					-
						var one = [
						'PRINCE2F','DEVOPS'
						];
					each ones in one
						.b-el
							.b-el-price-val 24500
								span р
							.b-el-name
								.b-el-title__top курс
								.b-el-title #{ones}
							.b-el-cont
								.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
								.b-el-bottom
									.b-el-attr
										.b-el-attr__icon
											+icon("heart","icon")
										.b-el-attr__val 2303
									.b-el-attr
										.b-el-attr__icon
											+icon("like","icon")
										.b-el-attr__val 1303
									.b-el-attr
										.b-el-attr__icon
											+icon("star","icon")
										.b-el-attr__val 233
					.b-el
						.b-el--disable
							.disable--text в разработке

						.b-el-price-val 24500
							span р
						.b-el-name
							.b-el-title__top курс
							.b-el-title BAF
						.b-el-cont
							.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
							.b-el-bottom
								.b-el-attr
									.b-el-attr__icon
										+icon("heart","icon")
									.b-el-attr__val 2303
								.b-el-attr
									.b-el-attr__icon
										+icon("like","icon")
									.b-el-attr__val 1303
								.b-el-attr
									.b-el-attr__icon
										+icon("star","icon")
									.b-el-attr__val 233

				.b-wrap
					-
						var one = [
						'COBIT5F','RISK','COBIT ICS'
						];
					each ones in one
						.b-el
							.b-el-price-val 24500
								span р
							.b-el-name
								.b-el-title__top курс
								.b-el-title #{ones}
							.b-el-cont
								.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
								.b-el-bottom
									.b-el-attr
										.b-el-attr__icon
											+icon("heart","icon")
										.b-el-attr__val 2303
									.b-el-attr
										.b-el-attr__icon
											+icon("like","icon")
										.b-el-attr__val 1303
									.b-el-attr
										.b-el-attr__icon
											+icon("star","icon")
										.b-el-attr__val 233
				.b-wrap
					-
						var one = [
						'ITILF','RCV','OSA','PPO','SOA','MALC'
						];
					each ones in one
						.b-el
							.b-el-price-val 24500
								span р
							.b-el-name
								.b-el-title__top Экзамен
								.b-el-title #{ones}
							.b-el-cont
								.b-el-text «Service Desk и процессы оперативного управления ИТ-услугами в соответствии с ITIL®»
								.b-el-bottom
									.b-el-attr
										.b-el-attr__icon
											+icon("heart","icon")
										.b-el-attr__val 2303
									.b-el-attr
										.b-el-attr__icon
											+icon("like","icon")
										.b-el-attr__val 1303
									.b-el-attr
										.b-el-attr__icon
											+icon("star","icon")
										.b-el-attr__val 233
include ./block_html/_script.pug
